.heading{

    font-size: 35px;
    /* font-weight: bold; */
    color: white;
    display: block;
    /* height: 100px; */
    width: auto;
    background-color: red;
    margin: 10px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.content{

    font-size: 20px;
    color: black;
    display: block;
    /* height: 100px; */
    width: auto;
    margin: 10px;
    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;

}

div>h1{

    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-underline-offset: 10px;

}

input{

    height: 50px;
    width: 230px;
    color: red;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

button{


    background-color: red;
    color: white;
    border: 2px solid black;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;

}

.forimage{

    width: 500px;
    
}